# The ACCOUNT_SID starts with "AC". Get your ACCOUNT_SID and AUTH_TOKEN from here: https://console.twilio.com/?frameUrl=%2Fconsole%3Fx-target-region%3Dus1
ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# The SID of your Flex workspace in Task Router. You'll find it here https://console.twilio.com/?frameUrl=/console/taskrouter/workspaces
WORKSPACE_SID=WSxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx